---
title: 🛠️ toolkit
layout: page.njk
permalink: /uses/ 
---
<p class="text-base mb-1 font-bold">this website was:</p>
<ul class="list-disc text-base ml-10">
    <li>assembled with 11ty</li>
    <li>templated with nunjucks</li>
    <li>styled with tailwind css v4</li>
    <li>hosted with vercel</li>
    <li>written on vscode</li>
    <li>languages: html5, css3, js</li>
    <li>version control: git</li>
</ul>
<p class="text-base mb-1 font-bold">other tools i use for now :)</p>
<ul class="list-disc text-base ml-10">
    <li>website hosts: neocities, nekoweb, github pages</li>
    <li>static site tools: yaml, liquid, markdown, jekyll</li>
    <li>languages: c++, python (matplotlib, numpy, pandas), php, mysql</li>
    <li>productivity: microsoft office (the big three -- word, excel, powerpoint; as well as access)</li>
    <li>creative: adobe creative suite (adobe after effects 2022, adobe photoshop, adobe premiere pro 2020), audacity, clip studio paint, blender</li>
</ul>

<p class="text-sm mb-1 text-gray-400 italic">disclaimer: i'm still learning! these tools represent my journey, not expertise. please be kind, i'm trying my best T_T...</p>
