<div class="container mx-auto max-w-xl flex flex-col items-left">
    <h1 class="text-4xl font-bold mt-12 mb-6">📓 whatdidgiulearn</h1>
    <hr class="border-none h-px bg-gray-300">
</div>
<header class="border-b border-gray-200">
  <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="/" class="text-xl font-bold">whatdidgiulearn</a>
    <div class="flex gap-4">
      <a href="/blog" class="hover:text-gray-600">/blog</a>
      <a href="/til" class="hover:text-gray-600">/til</a>
      <a href="/now" class="hover:text-gray-600">/now</a>
    </div>
  </nav>
</header>