---
layout: page
permalink: /blog/
title: 🗣️ blog
---

{% set posts = collections.blog %}

{% if posts.length > 0 %}
  
  {% for post in posts %}
      <h2 class="text-xl font-semibold -mt-4">
          <a href="{{ post.url }}" class="hover:underline">{{ post.data.title }}</a>
      </h2>
      <time class="text-sm text-gray-500">{{ post.date | readableDate }}</time>
        <p class="text-gray-500 text-sm italic">
        {{ post.templateContent | excerpt(150) }}
    </p>
      <div class="mt-2">
          {% for tag in post.data.tags %}
              <a href="/blog/tags/{{ tag | slug }}" 
                  class="text-sm bg-gray-100 px-2 py-1 rounded mr-2 hover:bg-gray-200">
                  {{ tag }}
              </a>
          {% endfor %}
      </div>
      <hr class="border-0 h-px bg-gray-300 mt-4">

  {% endfor %}
  
{% else %}
  <p>No posts found.</p>
{% endif %}


<div class="rounded mb-4">
    <h2 class="text-xl font-semibold mb-3 mt-4">browse by tag</h2>
    <div class="flex flex-wrap gap-2">
    {% for tag in collections.blogTags %}
        <a href="/blog/tags/{{ tag.tag | slug }}" 
           class="text-sm bg-gray-100 px-2 py-1 rounded mr-2 hover:bg-gray-200"
           style="font-size: {{ 0.8 + (tag.count * 0.1) }}rem;">
            {{ tag.tag }} ({{ tag.count }})
        </a>
    {% endfor %}
    </div>
</div>

<!-- <p class="mt-4 text-base text-gray-500 italic"><b>number of posts:</b> {{ posts.length }}</p> -->
