---
layout: page
permalink: /blog/
title: 🗣️ blog
---

{% set posts = collections.blog %}

<p class="mb-4"><b>number of posts:</b> {{ posts.length }}</p>

{% if posts.length > 0 %}
  <ul>
  {% for post in posts %}
    <li>
      <a href="{{ post.url }}" class="underline">{{ post.data.title }}</a>
      <small class="italic text-gray-400">({{ post.date | readableDate }})</small>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No posts found.</p>
{% endif %}
