---
layout: base
---

<article class="prose prose-lg">
    <header>
        <h1>{{ title }}</h1>
        <p class="text-gray-600">
            <time datetime="{{ page.date | dateIso }}">{{ page.date | readableDate }}</time>
        </p>
    </header>
    
    {{ content | safe }}
</article>