---
layout: base
---

<article class="prose prose-lg">
    <header>
        <h2 class="text-3xl font-bold items-left mb-4">{{ title }}</h2>
        <p class="text-gray-600">
            <time datetime="{{ page.date | dateIso }}">{{ page.date | readableDate }}</time>
        </p>
    </header>
    
    {{ content | safe }}
</article>