---
layout: base
title: home
---

<h2 class="text-3xl font-bold items-left">👋 hi, i'm lee</h2>
<p class="text-base mb-1 mt-4">i graduated high school thinking that i was some sort of coding savant...</p>
<p class="text-base mb-1"><b>first year of uni:</b> ...looooolll nope.</p>
<br>
<p class="text-base mb-1">now, i'm just trying to learn the most i can. in this notebook, i write about:</p>
<ul class="list-disc">
    <li class="text-base ml-10"><a href="/blog/">/blog</a> — whatever cool concept i've researched that day or my ramblings and opinions</li>
    <li class="text-base ml-10"><a href="/cpl/">/cpl</a> — me fighting leetcode (and leetcode winning)</li>
    <li class="text-base ml-10"><a href="/til/">/til</a> — tiny concepts i've learned today so i don't forget (microblogging)</li>
    <li class="text-base ml-10"><a href="/glossary/">/glossary</a> — words i looked up 500 times and still don't remember</li>
    <li class="text-base ml-10"><a href="/questions/">/questions</a> — hoard of questions that i'd research later on</li>
    <li class="text-base ml-10"><a href="/lessons/">/lessons</a> — the lessons i've learned from specifically building this site</li>
    <li class="text-base ml-10"><a href="/now/">/now</a> — my current status: things i've been working on, what i'm learning, etc. (except it also has past entries, so it's more like a diary...)</li>
    <li class="text-base ml-10"><a href="/uses/">/uses</a> — my setup and other tools</li>
</ul>