---
layout: base
title: 🏠 home
---

<h2 class="text-3xl font-bold items-left">👋 hi, i'm lee</h2>
<p class="text-base mb-1 mt-4">i graduated high school thinking that i was some sort of coding savant...</p>
<p class="text-base mb-1"><b>first year of uni:</b> ...looooolll nope.</p>
<br>
<p class="text-base mb-1">now, i'm just trying to learn the most i can. in this notebook, i write about:</p>
<ul class="list-disc">
    <li class="text-base ml-10"><a href="/home/" class="underline">/home</a> — you're on here now!</li>
    <li class="text-base ml-10"><a href="/about/" class="underline">/about</a> — stuff i wanted to share about me</li>
    <li class="text-base ml-10"><a href="/blog/" class="underline">/blog</a> — whatever cool concept i've researched that day or my ramblings and opinions</li>
    <li class="text-base ml-10"><a href="/cpl/" class="underline">/cpl</a> — me fighting leetcode (and leetcode winning)</li>
    <li class="text-base ml-10"><a href="/til/" class="underline">/til</a> — tiny concepts i've learned today so i don't forget (microblogging)</li>
    <li class="text-base ml-10"><a href="/glossary/" class="underline">/glossary</a> — words i looked up 500 times and still don't remember</li>
    <li class="text-base ml-10"><a href="/questions/" class="underline">/questions</a> — hoard of questions that i'd research later on</li>
    <li class="text-base ml-10"><a href="/lessons/" class="underline">/lessons</a> — the lessons i've learned from specifically building this site</li>
    <li class="text-base ml-10"><a href="/now/" class="underline">/now</a> — my current status: things i've been working on, what i'm learning, etc. (except it also has past entries, so it's more like a diary...)</li>
    <li class="text-base ml-10"><a href="/uses/" class="underline">/uses</a> — my setup and other tools</li>
</ul>
<br>
<p class="text-base mb-1">if you have any questions, if you want to answer <i>my</i> questions, or if you want to chat, feel free to email me at giujutsus [at] proton (dot) me! ^_^</p>
