---
layout: page.njk
title: 📍 about
permalink: /about/
---

<p class="text-base mb-1 mt-4">hi again! i'm lee, a first-year uni student who thought they knew how to code...</p>
<p class="text-base mb-1"><b>spoiler:</b> ...i did not! -3-</p>
<br>

<p class="text-base mb-1 font-bold">i started this site because:</p>
<ul class="list-disc pl-6 space-y-1">
    <li class="text-base">my brain has the memory of a goldfish 🐟︎</li>
    <li class="text-base">maybe someone else will find my confused ramblings helpful...</li>
    <li class="text-base">it's nice to look back and see that i actually <i>am</i> learning, even when it doesn't feel like it!</li>
</ul>
<br>

<p class="text-base mb-1"><b>some things about me:</b></p>
<ul class="list-disc pl-6 space-y-1">
    <li class="text-base">📋 basic info: ph/hk, he/him, my favourite colour is red, and i love emoticons!! :P</li>
    <li class="text-base">🎓 majoring in cs (help)</li>
    <li class="text-base">💭 my main interests: ut/dr, sonic, minecraft, lbp, and the stanley parable</li>
    <li class="text-base">☕ favourite food: ...hmm. sisig, ramen, and dandanmi noodles. favourite drink... oolong tea, mogu mogu :3</li>
    <li class="text-base">🔧 other hobbies: i also draw a lot, i edit a lot, i crochet a lot. i'd love to get into music and knitting properly! </li>
    <li class="text-base">📚 multicultural worm who can speak english, tagalog, putonghua, and a bit of cantonese and french! i'm learning hindi right now, but progress is a bit slow :-)</li>
</ul>
<br>

<p class="text-base text-gray-600 italic">thanks for stopping by! feel free to judge my code (kindly) qwq</p>