---
title: ⏱️ now...   
layout: page
permalink: /now/ 
---

<ul class="list-disc">
    <li class="text-base ml-10"><b>learning:</b> solving <a class="underline" href="https://github.com/g3dms/leetcode-questions">leetcode questions</a>, c++ for exams</li>
    <li class="text-base ml-10"><b>building:</b> this website! + <a class="underline" href="https://whatdidgiudo.neocities.org">whatdidgiudo</a> + <a class="underline" href="https://the-fourth-dimension.neocities.org">the-fourth-dimension</a></li>
    <li class="text-base ml-10"><b>reading:</b> john green's everything is tuberculosis</li>
    <li class="text-base ml-10"><b>listening to:</b> <a class="underline" href="https://open.spotify.com/playlist/37i9dQZF1DWUZ5bk6qqDSy">white noise 10 hours</a> + <a class="underline" href="https://open.spotify.com/track/7MrRFi6swb5Jwef9esaJIF?si=cbcd2a0718294958">tchaikovsky's symphony no. 5 in e minor, op 64: ii. andante cantabile con alcuna licenza</a> + <a class="underline" href="https://open.spotify.com/track/7H7NyZ3G075GqPx2evsfeb?si=dab4843999814c47">mac de marco's chamber of reflection (song)</a> + <a class="underline" href="https://open.spotify.com/album/4oL7pMxnb04uuRI7ReXmuh">tv girl's who really cares (album)</li>
    <li class="text-base ml-10"><b>recent wins:</b> configured 11ty and tailwind for the first time!</li>
    <li class="text-base ml-10"><b>next up:</b> adding a tagging system for the blogs</li>
    <li class="text-base ml-10"><b>mood:</b> tired but determined!</li>
</ul>

