---
title: 🤷 what does this mean?
layout: page.njk
---

{% for entry in collections.glossary | reverse %}
  <article>
    <h2>{{ entry.data.title }}</h2>
    <time>{{ entry.data.date | readableDate }}</time>
    <div>{{ entry.templateContent | safe }}</div>
  </article>
{% endfor %}